*{
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
body{
overflow-x: hidden;
background-image: url(https://s1.ax1x.com/2020/10/15/0T904x.jpg);
background-repeat: no-repeat;
/* background-size: cover; */
/* background-attachment: fixed;	 */
/* background-image: url(https://s1.ax1x.com/2020/10/15/0T904x.jpg); */
}	